footer {
    background: $blue;
    padding: 60px 0 50px;

    .container {
        display: flex; justify-content: space-between;
        border-bottom: 1px solid #3883c8;
        padding-bottom: 20px;
        position: relative;

    }
    h3 {
        color: $yellow; font-size: 18px; text-transform: uppercase;
        margin-bottom: 20px;
    }
    .left-part {
        width: 40%; padding-left: 90px;

        form {
            display: flex; justify-content: space-between; margin-bottom: 30px;

            input {
                color: #fff;
                border: none;
                border-bottom: 1px solid #fff;
                background-color: transparent;
                padding: 10px 0;
                height: 30px;
                width: 270px;

                &::placeholder { color: #fff; }
            }
            button {
                background-color: transparent;
                color: $yellow; text-transform: uppercase;
                border: 1px solid $yellow;
                width: 100px; height: 30px;
                margin-left: 20px;
            }
        }

        i {
            width: 35px; height: 35px;
            margin-right: 10px;
            border: 1px solid #fff;
        }
        .icon-fb {
            background: url(/img/icons/facebook.png) center / 12px no-repeat;
        }
        .icon-yt {
            background: url(/img/icons/youtube.png) center / 20px no-repeat;
        }
        .sitemap { text-decoration: underline; color: #fff; margin-top: 20px; display: block; }
    }
    .right-part {
        width: 50%; padding-left: 150px;

        .contact-item {
            display: flex; align-items: center;
            margin-bottom: 20px;

            i.icon-bank { background-image: url(/img/icons/bank.png); }
            i.icon-location { background-image: url(/img/icons/location.png); }
            i.icon-envelope { background-image: url(/img/icons/envelope.png); }

            span { color: #fff; margin-left: 10px; }
        }
    }

    .itkron-box {
        position: absolute; right: 0; bottom: -30px;
        color: #fff;
        a { text-decoration: underline; color: #fff; }
    }
}
