header {
    .top-part {
        .container {
            display: flex; justify-content: space-between; align-items: center;
            height: 60px;
        }
        a.logo-box {
            img.logo {
                width: 130px; height: auto;
            }
        }
        form.search-form {
            display: flex; align-items: center; width: 420px;
            background: #ededed; margin-left: 200px;
            input {
                width: 400px; height: 26px; border: none;
                background-color: transparent; padding: 0 10px;
            }
            i.icon-search { height: 16px; width: 30px; background-image: url(/img/icons/search.png); }
        }
        a.header-link {
            display: flex; align-items: center;
            color: $blue; text-transform: uppercase;
            font-size: 12px; user-select: none;

            span.text { margin-right: 10px; }
            i.icon-cabinet { background-image: url(/img/icons/credit_cards.svg); }
            i.icon-user { background-image: url(/img/icons/user.svg); background-size: 85%; }

            &:hover { transition: all .3s; opacity: .8; cursor: pointer; }
        }
    }
    .bottom-part {
        background: $blue;

        .container {
            height: 50px; display: flex; align-items: center;
        }
        nav {
            width: 100%;
            display: flex; align-items: center; justify-content: space-between;

            a.nav-item {
                color: #fff; text-transform: uppercase; font-weight: bold; line-height: 46px;

                &:hover{ color: $yellow; }
                &.active {
                    color: $yellow;
                    border-bottom: 3px solid $yellow;
                }
            }
        }
        .lang-box {
            user-select: none; position: relative; z-index: 100;

            .lang { display: inline-block; color: #ffc905; font-size: 14px; text-transform: uppercase; }
            .arrow-icon {
                display: inline-block; width: 8px; height: 10px;
                background: url(/img/icons/arrow-down.png) center / contain no-repeat;
            }
            &:hover .lang { transition: all .3s; opacity: .8; cursor: pointer; }
        }
        .dropdown {
            position: absolute; right: 0; top: 101%; padding: 5px 10px; border-radius: 2px;
            background: rgba(255, 255, 255, .95); box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
            display: none;

            .dropdown-item {
                &:hover { transition: all .3s; opacity: .8; cursor: pointer; }
            }
        }
    }
}
