[class*=" ikon-"], [class^=ikon-] {
    font-family: ikon !important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;
    text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    width: auto;
}

@font-face {
    font-family: ikon;
    src: url(../../fonts/ik/ikon.eot?hy5S23w);
    src: url(../../fonts/ik/ikon.eot?hy5S23w#iefix) format('embedded-opentype'),
    url(../../fonts/ik/ikon.ttf?hy5S23w) format('truetype'),
    url(../../fonts/ik/ikon.woff?hy5S23w) format('woff'),
    url(../../fonts/ik/ikon.svg?hy5S23w#lpicon) format('svg');
    font-weight: 400;
    font-style: normal
}

.ikon-arrow_left:before {content: "\e935"}

.ikon-arrow_right:before {content: "\e936"}

.ikon-bubbles:before {content: "\e91c"}

.ikon-bubbles-answer:before {content: "\e91d"}

.ikon-bubbles-questions:before {content: "\e91e"}

.ikon-book:before {content: "\e91f"}

.ikon-calendar:before {content: "\e920"}

.ikon-envelope-letter:before {content: "\e921"}

.ikon-info:before {content: "\e922"}

.ikon-link:before {content: "\e923"}

.ikon-list:before {content: "\e924"}

.ikon-male-user:before {content: "\e925"}

.ikon-notebook:before {content: "\e926"}

.ikon-paper-clip:before {content: "\e927"}

.ikon-shareit:before {content: "\e928"}

.ikon-speedometer:before {content: "\e929"}

.ikon-tag:before {content: "\e92a"}

.ikon-term:before {content: "\e92b"}

.ikon-quote-start:before {content: "\e915"}

.ikon-quote-end:before {content: "\e914"}

.ikon-fontsize-0:before {content: "\e903"}

.ikon-fontsize-1:before {content: "\e904"}

.ikon-fontsize-2:before {content: "\e905"}

.ikon-sash:before {content: "\e900"}

.ikon-letter-a:before {content: "\e901"}

.ikon-letter-a-inverse:before {content: "\e902"}

.ikon-facebook:before {content: "\e910"}

.ikon-google-plus:before {content: "\e90c"}

.ikon-pinterest:before {content: "\e90d"}

.ikon-twitter:before {content: "\e90e"}

.ikon-instagram:before {content: "\e90f"}

.ikon-youtube:before {content: "\e90b"}

.ikon-linkedin:before {content: "\e933"}

.ikon-anchor:before {content: "\e912"}

.ikon-copy-link:before {content: "\e913"}

.ikon-mail:before {content: "\e92e"}

.ikon-www:before {content: "\e934"}

.ikon-delete:before {content: "\e930"}

.ikon-plus:before {content: "\e92f"}

.ikon-playback-pause:before {content: "\e92c"}

.ikon-return:before {content: "\e91a"}

.ikon-back:before {content: "\e919"}

.ikon-view-all:before {content: "\e911"}

.ikon-prev:before {content: "\e91b"}

.ikon-next:before {content: "\e918"}

.ikon-file-download:before {content: "\e916"}

.ikon-file-link:before {content: "\e917"}

.ikon-home:before {content: "\e90a"}

.ikon-chevron-bold-down:before {content: "\e906"}

.ikon-chevron-bold-up:before {content: "\e907"}

.ikon-chevron-bold-left:before {content: "\e908"}

.ikon-chevron-bold-right:before {content: "\e909"}

.ikon-attention:before {content: "\e931"}

.ikon-help:before {content: "\e932"}

.ikon-playback-play:before {content: "\e92d"}
