.modal-box  {
    position: fixed; top: -200vh; left: 0; z-index: 1000;
    width: 100%; height: 100%; background: rgba(0, 0, 0, .6);
    display: flex; justify-content: center; align-items: center;
    box-sizing: border-box; opacity: 0; transition: all .5s;

    .modal {
        width: 630px; background: #fff; position: relative; border-radius: 0; z-index: 1100;
    }
    .modal-header {
        line-height: 60px; text-align: center; background-color: $blue;
        color: #fff; font-size: 18px; font-weight: bold;
    }
    .modal-close-icon {
        position: absolute; top: 10px; right: 10px;
        transition: all 200ms;
        font-size: 30px; line-height: 1;
        width: 20px; height: 20px;

        &:hover { transform: scale(1.1); cursor: pointer;}
    }
    .modal-body { padding: 20px; }

    &.show {top: 0; opacity: 1;}
}