.pagination-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a.pagination-link {
            display: inline-block;
            width: 10px;
            height: 20px;
            margin: 0 10px;
            color: #808080;
            font-size: 18px;
            line-height: 1;

            &.active { color: $blue; }
            &.prev {background: url(/img/icons/arr_l-g.svg) center / contain no-repeat;}
            &.next {background: url(/img/icons/arr_r-g.svg) center / contain no-repeat;}
            &.prev[href] {background: url(/img/icons/arr_l.svg) center / contain no-repeat;}
            &.next[href] {background: url(/img/icons/arr_r.svg) center / contain no-repeat;}
        }
    }
}
