body.news-page .news-box .new-item-text-box {
	height: auto;
}
body.news-page .news-box .new-item-img {
	height: 0;
	padding-bottom: 65%;
}

body.news-page .news-box .new-item-img {
		background-size: 100% 100%;
}

@media (max-width: 650px) { 
	body.news-page .news-box .news-item-box {
		width: 100%;
		padding: 15px 0px;
	}
}

@media (max-width: 900px) {
	body.news-page section.content .container {
		padding: 0 15px;
	}
}
