body.consumers-page section.content .line-box:before {
	left: -15px;
}
@media (max-width: 575px) {
	body.consumers-page section.content .line-box:before {
		display: none;
	}
	body.consumers-page section.content .line-box {
		padding-left: 0;
	}
	body.consumers-page section.content h3 {
		text-align: center;
	}
}	

@media (max-width: 1400px) {
	body.consumers-page section.content .banks .members-box {
		padding: 0 30px;
	}
}

@media (max-width: 1400px) {
	body.consumers-page section.content .line-box:before {
		left: 35px;
		width: 50px;
	}
}


