section#banner-section .slide-box .slide .text {
	font-size: 26px; line-height: 1.2;
}
.all-banks-view.active .all-banks-title {
	font-weight: 700;
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
}

body {
	min-width: auto;
}

header .top-part form.search-form {
	max-width: 420px;
	width: 100%;
}

header .top-part form.search-form input {
	max-width: 400px;
	width: 100%;
}

.menu-toggle {
	background-color: #000;
	padding: 12px;
	cursor: pointer;
	display: none;
	& span {
		display: block;
		height: 1px;
		width: 20px;
		background-color: #fff;
		transition: 0.3s;
		& ~ span {
			margin-top: 6px;
		}
	}
	&.-active {
		& span:nth-child(2) {
			opacity: 0;
		}
		& span:nth-child(1) {
			transform: rotate(45deg) translate(5px, 5px);
		}
		& span:nth-child(3) {
			transform: rotate(-45deg) translate(5px, -5px);
		}
	}
}

.header-link__mobile, .mobile-input-wrapper  {
	display: none;
}
.bottom-part {
	display: block;
}
// --------------------------------------------
@media (max-width: 1199px) { 
	.bottom-part {
		display: none;
		position: absolute;
		top: 60px;
		z-index: 100;
		left: 0;
		right: 0;
	}
	header .top-part a.header-link {
		display: none;
	}
	.menu-toggle {
		display: block;
	}
	header .top-part form.search-form {
		margin-left: 15px;
		margin-right: 15px;
	}
	header .bottom-part nav {
		flex-direction: column;
		align-items: flex-start;
	}
	header .bottom-part .container {
		height: auto;
	}
	header .bottom-part nav a.nav-item {
		display: block;
		width: 100%;
		border-bottom: 1px solid #595959;
	}
	header .bottom-part {
		background-color: #333333;
	}
	.lang-box {
		padding: 20px;
	}
	.mobile-links-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.header-link__mobile {
		margin-right: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.header-link__mobile:hover{
		&.header-link__mobile span {
			color: #ffc905;
		}
	}
	.header-link__mobile span {
		color: #fff;
		display: block;
		transition: 0.3s;
	}
	.header-link__mobile i.icon-cabinet {
		margin-left: 5px;
		background-image: url(/img/icons/credit_cards.svg);
	}
	.header-link__mobile i.icon-user {
		margin-left: 5px;
		background-image: url(/img/icons/user.svg);
	}
}

@media (max-width: 575px) {
	header .top-part form.search-form input {
		display: none;
	}
	header .top-part form.search-form {
		background-color: transparent;
		width: auto;
	}
	.top-part {
		position: relative;
	}
	header .top-part form.search-form i.icon-search {
		position: absolute;
		right: 70px;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
		}
	}
	.mobile-links-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}
	.header-link__mobile {
		margin-right: 0;
		margin-bottom: 20px;
	}
	header .bottom-part .dropdown {
		left: 101%;
		top: 0;
		width: 80px;
		transform: translate(0%, 50%);
	}
	header .bottom-part .lang-box .arrow-icon {
		transform: rotate(-90deg);
	}
	.mobile-input-wrapper {
		position: absolute;
		top: 60px;
		max-width: 350px;
		width: 100%;
		transform: translate(-50%, 0%);
		z-index: 101;
		left: 50%;
		background-color: #ededed;
		display: block;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.mobile-input-wrapper__close {
		position: relative;
		width: 25px;
		height: 25px;
		transform: rotate(45deg);
		opacity: 0.5;
		cursor: pointer;
		transition: 0.3s;
		margin-left: 10px;	

		&:hover {
			opacity: 0.8;
		}

		& span:first-child {
			position: absolute;
			display: block;
			background-color: #000;
			width: 100%;
			height: 2px;
			left: 0;
			top: 50%;
			margin-top: -1px;
		}
		& span:last-child {
			position: absolute;
			display: block;
			background-color: #000;
			width: 2px;
			height: 100%;
			left:50%;
			top: 0;
			margin-left: -1px;
		}
	}
	.mobile-input-wrapper {
		padding: 15px;	
		position: absolute;	
		left: 50%;	
		transform: 	translate(-50%, 0%);
		top: -9999px;	
		transition: 0.3s opacity;	
		opacity: 0;	
		&.-active {
			top: 60px;	
			opacity: 1;	
		}
	}
	.mobile-input-wrapper input {
		width: 100%;
		background-color: transparent;
		border: none;
		font-size: 16px;	
	}
}
