
@media (max-width: 575px) {
	body.business-page section.content .line-box:before {
		display: none;
	}
	body.business-page section.content .line-box {
		padding-left: 0;
	}
	body.business-page section.content h3 {
		text-align: center;
	}
}	


@media (max-width: 1400px) {
	body.business-page section.content .line-box:before {
		left: 35px;
		width: 50px;
	}
}