body.banks-page section.content .advantages-box .advantages-item-box .advantages-item {
	height: auto;
}
body.banks-page section.content p.headline {
	max-width: 850px;
	width: 100%;
}
@media (max-width: 1050px) {
	body.banks-page section.content .advantages-box .advantages-item-box {
		width: 100%;
	}
}
@media (max-width: 575px) {
	body.banks-page section.content .advantages-box .advantages-item-box .advantages-item {
		padding: 20px 0px;
		margin-bottom: 20px;
	}
	body.banks-page section.content p.headline {
		font-size: 14px;
	}
	body.banks-page section.content .advantages-box .advantages-item-box {
		padding: 0;
	}
}
