body.services-page .services-box .services-item-box .services-item {
	height: auto;
}

@media (max-width: 1199px) { 
	body.services-page .services-box .services-item-box {
		width: 50%;
	}
}
@media (max-width: 820px) { 
	body.services-page .services-box .services-item-box {
		width: 100%;
	}
}