@media (max-width: 991px) {
	body.news-item-page section.content .container {
		flex-wrap: wrap;
	}
	body.news-item-page section.content .container .left-box, body.news-item-page section.content .container .right-box {
		width: 100%;
	}
	body.news-item-page section.content .container .left-box {
		margin-bottom: 30px;
		padding-right: 0;
	}
}
