@media (max-width: 1300px) {
	section.banner .container {
		padding: 140px 50px 50px;
	}
	body.about-page section.content .container:before {
		left: 50px;
		width: 50px;
	}
}	
@media (max-width: 575px) {
		section.banner .container {
		padding: 80px 20px 40px;
	}
	body.about-page section.content .container:before {
		display: none;
	}
	body.about-page section.content .container {
		padding-left: 15px;
	}
	body.about-page section.content h3 {
		text-align: center;
	}
	body.about-page section.content .link-box {
		justify-content: center;
	}
	body.about-page section.content {
		padding: 50px 0 50px;
	}
	section.banner h1 {
		font-size: 30px;
	}
}