@media (max-width: 1400px) { 
	.xlSNext {
		right: 10px;
	}
	.xlSPrev {
		left: 10px;
	}
	.news-slider-box, .partners-slider-box {
		padding: 0 20px;
	}
	section#banner-section .xlSNext {
		left: 95%;
	}
		section#banner-section .xlSPrev {
		right: 95%;
	}

}
@media (max-width: 991px) { 
	section#banner-section .slide-box .slide.main-slide .count {
		font-size: 30px;
	}
	section#banner-section .slide-box .slide.main-slide .count-title {
		font-size: 16px;
	}
	section#banner-section .slide-box .slide.main-slide .title {
		font-size: 32px;
	}
	section#news-section .new-slider-item-img {
		background-size: 100% 100%;
	}
}
@media (max-width: 767px) { 
	section#banner-section .slide-box .slide.main-slide .box {
		flex-wrap: wrap;
		justify-content: center;
	}
	section#banner-section .slide-box .slide.main-slide .item {
		width: 33%;
		margin-bottom: 30px;
	}
}
@media (max-width: 575px) {
	section#banner-section .slide-box .slide.main-slide img {
		height: 35px;
	}
	section#banner-section .slide-box .slide.main-slide .count {
		font-size: 20px;
	}
	section#banner-section .slide-box .slide.main-slide .count-title {
		font-size: 16px;
	}
	section#banner-section .slide-box .slide.main-slide .title {
		font-size: 26px;
	}
	h2 {
		font-size: 26px;
	}
	.xlSNext {
		right: 15px;
	}
	.xlSPrev {
		left: 15px;
	}
	section#banner-section .slide-box .slide .text {
		margin: 0 30px;
		font-size: 20px;
	}
}