footer .left-part .sitemap {
	display: inline-block;
}

@media (max-width: 1199px) { 
	footer .itkron-box {
		right: 50%;
		transform: translate(50%, 0%);
		font-size: 12px;
		text-align: center;
		bottom: -40px;
	}
	footer .left-part, footer .right-part {
		width: 100%;
		padding-left: 0px;
		text-align: center;
	}
	footer .container {
		flex-wrap: wrap;
	}
	
	footer h3 {
		text-align: center;
	}
	footer .left-part form {
		justify-content: center;
	}
	footer .left-part .sitemap {
	margin-bottom: 30px;
	}	
	.contact-item {
		justify-content: center;
	}
}	