body.members-page .members-slider-box {
	max-width: 1100px;
	width: 100%;
}
@media (max-width: 1400px) {
	body.members-page .members-slider-box {
		padding: 0 30px;
	}
}

body.members-page .table-box .table-box-dropdown {
	overflow-x: auto;
}

body.members-page table {
	min-width: 1110px;
}


@media (max-width: 575px) {
	body.members-page .members-slider-item {
		justify-content: center;
	}
}
body.members-page .member-link {
	margin-right: 5px;
	margin-left: 5px;
}