
.share {
    .share-label, .share-menu { display: inline-block; vertical-align: middle }
    .share-label { font-size: 1rem; line-height: 1.1; font-weight: 600; padding-right: 1rem; opacity: .5; color: #a8a8a8; }
    .share-menu li {
        display: inline-block; vertical-align: middle; margin-right: -1px; margin-bottom: .275rem;
        border-radius: 50%; overflow: hidden;
        transform: scale(.2);
        transition: all .75s cubic-bezier(0, 0, .145, 1.005);

        a {
            display: flex; align-items: center; justify-content: center;
            width: 40px; height: 40px; background: rgba(30, 144, 255, .3); position: relative;

            i {
                font-size: 20px; color: #fff;
                opacity: 0; transition: opacity .3s cubic-bezier(.4, 0, .22, 1) .55s
            }
        }

        &:nth-child(1) {transition-delay: .55s}
        &:nth-child(2) {transition-delay: 605ms}
        &:nth-child(3) {transition-delay: .66s}
        &:nth-child(4) {transition-delay: 715ms}
        &:nth-child(5) {transition-delay: .77s}
        &:nth-child(6) {transition-delay: 825ms}

        .facebook {background: #3b5998}
        .twitter {background: #00aced}
        .youtube {background: #c92228}
        .copy-link, .mail {background: #4e4e4e}
        .link, .www-link {background: #5c5c5c}
    }

    &:hover {
        .share-menu li {
            transform: scale(1); transition: all .3s cubic-bezier(0, 0, .145, 1.005);

            i {opacity: 1; transition: all .3s cubic-bezier(.4, 0, .22, 1) .15s}
            &:nth-child(1) {transition-delay: 0s}
            &:nth-child(2) {transition-delay: 65ms}
            &:nth-child(3) {transition-delay: .13s}
            &:nth-child(4) {transition-delay: 195ms}
            &:nth-child(5) {transition-delay: .26s}
            &:nth-child(6) {transition-delay: 325ms}
        }
    }
}
