body.about-page {
    section.banner {background-image: url(/img/banners/about.png);}
    section.content {
        padding: 50px 0 200px;

        .container {
            padding-left: 120px; font-size: 16px;

            &:before {
                content: ''; position: absolute; top: 0; left: 0;
                width: 80px; height: 2px; background: $blue;
            }
        }
        p { margin-bottom: 30px; }
        h3 { color: $blue; margin-bottom: 10px; }
        .list {
            margin-bottom: 30px;

            .item {
                display: flex; align-items: center;
                margin-bottom: 5px;

                i.icon-check { background-image: url(/img/icons/check.svg); margin-right: 10px; }
                span { }
            }
        }
        .link-box {
            display: flex; align-items: center;
            i.icon-prostir { background-image: url(/img/icons/fgfh.png); margin-right: 10px; }
            a { text-decoration: underline; color: $blue; }
        }
    }
}
