body.banks-page {
    section.banner {background-image: url(/img/banners/banks.png);}
    section.content {
        padding: 70px 0; font-size: 16px;

        .container {}
        p.headline {
            font-size: 18px; text-align: center; color: $blue;
            width: 850px; margin: 0 auto;
        }

        .advantages-box {
            display: flex; flex-wrap: wrap;
            margin-bottom: 10px;

            .advantages-item-box {
                width: 50%; padding: 0 20px;

                .advantages-item {
                    height: 440px; padding: 20px 50px; transition: all .3s;
                    margin-bottom: 70px;

                    .advantages-item-img {
                        width: 60px; height: 60px; margin: 0 auto 10px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                    .advantages-item-title {
                        text-align: center; font-size: 24px;color: $blue;
                        padding: 10px 0; margin-bottom: 30px;
                        border-bottom: 2px solid $yellow;
                    }
                    .advantages-item-text {
                        font-size: 16px; color: $blue; font-weight: 300;
                    }
                    &:hover {
                        cursor: pointer; box-shadow: 0 3px 7px rgba(0,0,0,0.35);
                    }
                }
            }
        }

        .list {
            margin-bottom: 30px;

            .item {
                display: flex;
                margin-bottom: 10px;

                i.icon-check {
                    background-image: url(/img/icons/check.svg); margin-right: 10px;
                    flex-shrink: 0;
                }
                span { }
            }
        }
    }
}
