body.business-page {
    section.banner {background-image: url(/img/banners/business.png);}
    section.content {
        padding: 60px 0 80px;

        .line-box {
            padding-left: 120px; font-size: 16px; position: relative;
            margin-bottom: 60px;

            &:before {
                content: ''; position: absolute; top: 0; left: 0;
                width: 80px; height: 2px; background: $blue;
            }
        }
        p { margin-bottom: 30px; color: #241f1f; line-height: 1.5; }
        h3 {
            color: $blue; margin-bottom: 15px; line-height: 1;
            text-transform: uppercase; font-size: 16px;
        }
        a { color: $blue; text-decoration: underline; }
    }
}
