body.consumers-page {
    section.banner {background-image: url(/img/banners/consumers.png);}
    section.content {
        padding: 60px 0 0;

        .line-box {
            padding-left: 120px; font-size: 16px; position: relative;
            margin-bottom: 60px;

            &:before {
                content: ''; position: absolute; top: 0; left: 0;
                width: 80px; height: 2px; background: $blue;
            }
        }
        p { margin-bottom: 30px; color: #241f1f; line-height: 1.5; }
        h3 {
            color: $blue; margin-bottom: 15px; line-height: 1;
            text-transform: uppercase; font-size: 16px;
        }
        .order-card-btn {
            display: block; width: 230px; height: 50px;
            background-color: #ffc905; color: #004a8f;
            text-transform: uppercase;
            border: none; margin: 0 auto;
            font-size: 14px; font-weight: bold;

            &:hover {
                cursor: pointer; transition: all .3s; opacity: .8;
            }
        }
        .banks {
            text-align: center; margin: 80px 0 40px;

            h3 { margin-bottom: 10px; }
            h4 { font-weight: normal; color: #616161; font-size: 18px; }

            .members-box { position: relative; }
            .members-slider {
                display: flex; justify-content: space-between; flex-wrap: wrap;
                width: 1100px; margin: 30px auto;
            }
            .member-link {
                display: block; width: 200px; height: 130px;
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                margin-bottom: 30px;

                &[href] {border: 2px solid #e8e8e8;}
            }
        }
    }
    .modal-body {
        .text { text-align: center; font-size: 16px; color: $blue; line-height: 1.5; }
        .banks {display: flex; justify-content: center; margin-bottom: 20px; }
        .bank { margin: 20px 20px 0; }
        .bank-link {
            display: block; width: 200px; height: 130px;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-bottom: 5px;

            &[href] {border: 2px solid #e8e8e8;}
        }
        .bank-tel { text-align: center; font-size: 16px; color: $blue; }
    }
}
