body.members-page {
    section.banner {background-image: url(/img/banners/members.png);}

    section.content {
        h3 {
            text-align: center; color: $blue; font-weight: normal;
            font-size: 24px; margin: 50px 0;
        }
    }

    .members-slider-box {
        width: 1100px; margin: 0 auto; position: relative;

        .members-slider {}
    }
    .members-slider-item {
        display: flex; justify-content: space-between; flex-wrap: wrap;
    }
    .member-link {
        display: block; width: 200px; height: 130px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 30px;

        &[href] {border: 2px solid #e8e8e8;}
    }

    .all-banks {
        .all-banks-view {
            display: flex; justify-content: space-between; align-items: center;
            background: #f0f0f0; height: 40px; padding: 0 20px;
            margin: 40px 0; cursor: pointer;

            .all-banks-title {
                color: $blue; font-size: 16px;
            }
            .all-banks-arrow {
                display: inline-block; width: 16px; height: 16px;
                background: url(/img/icons/arr_l.svg) center / contain no-repeat;
                transform: rotate(-90deg);
                transition: all .3s;
            }

            &.active .all-banks-arrow {transform: rotate(90deg);}
        }
        .all-banks-dropdown {
            display: none; padding: 30px;
        }
        .members-slider-item { padding: 0 30px; }
    }


    .table-box {
        border-top: 2px solid #e8e8e8;

        .table-box-view {
            display: flex; justify-content: space-between; align-items: center;
            height: 100px;

            .table-box-view-title { color: $blue; font-size: 16px; }
            .table-box-view-arrow {
                width: 40px; height: 40px; background: #e8e8e8; border-radius: 50%;
                display: flex; align-items: center; justify-content: center;
                min-width: 40px;

                &:after {
                    content: ''; display: inline-block; width: 16px; height: 16px;
                    background: url(/img/icons/arr_l.svg) center / contain no-repeat;
                    transform: rotate(-90deg);
                    cursor: pointer; transition: all .3s;
                }
                &:hover {transition: all .3s; opacity: .7;}
            }

            &.active {
                .table-box-view-title { font-weight: bold; }
                .table-box-view-arrow { background: $blue; }
                .table-box-view-arrow:after {
                    background: url(/img/icons/arr_l-gg.svg) center / contain no-repeat;
                    transform: rotate(90deg);
                }
            }
        }
        .table-box-dropdown {
            display: none; padding: 30px;
        }
        &:last-child {
            border-bottom: 2px solid #e8e8e8; margin-bottom: 100px;
        }
    }

    table {
        font-size: 16px; color: $blue; border: 1px solid #e5f2ff;
        border-collapse: collapse;

        tr {}
        th {background: $blue; font-weight: bold; color: #fff;}
        td {
            background: #fffbed; vertical-align: top;

            &:first-child { text-align: center; }
        }
        th, td { padding: 10px; border: 1px solid #e5f2ff; }
        a {color: $blue;}
    }
}
