body.news-item-page {
    section.breadcrumbs {
        .container {
            font-size: 12px; line-height: 24px; margin: 20px auto 40px; text-transform: uppercase;

            a { color: #b3b3b3; margin-right: 5px; }
            span { color: #b3b3b3; margin-right: 5px; }
            span.current { color: $blue; }
        }
    }

    section.content {
        min-height: 40vh;

        .container {
            display: flex; margin-bottom: 100px;

            .left-box {
                width: 50%; padding-right: 20px;

                img { width: 100%; height: auto; border: 1px solid #ebebeb; }
            }

            .right-box { width: 50%; padding-left: 20px; }
            .news-title {
                font-size: 24px;
                line-height: 36px;
                color: $blue;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .news-date { font-size: 16px; color: #a8a8a8; margin-bottom: 30px; }
            .news-text {font-size: 16px;line-height: 24px;color: $blue;margin-bottom: 30px;}
        }
    }
}
