body.news-page {
    section.banner {background-image: url(/img/banners/news.png);}
    section.content {
        padding: 50px 0;

        .container {
            padding: 0 80px;
        }
    }
    .news-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .news-item-box {
            width: 50%;
            padding: 15px 40px;
        }
        .news-item {
            display: block;
            transition: box-shadow .5s;

            &:hover {
                box-shadow: 0 3px 7px rgba(0,0,0,0.35);
                .new-item-title {color: $blue;}
            }
        }
        .new-item-img {
            width: 100%; height: 200px;
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .new-item-text-box { padding: 20px; height: 138px; }
        .new-item-date {
            color: #808080; font-size: 14px;
            margin-bottom: 5px;
        }
        .new-item-title {
            color: #241f1f; font-size: 18px; line-height: 1.5;
            font-weight: bold;
        }
    }
}
