body.services-page {
    section.banner {background-image: url(/img/banners/services.png?v1);}
    section.content {
        padding: 70px 0;
        h3 {
            text-align: center; color: $blue; font-weight: normal; font-size: 18px;
        }
    }

    .services-box {
        display: flex; flex-wrap: wrap;
        margin-bottom: 10px;

        .services-item-box {
            width: 33.33%; padding: 0 20px;

            .services-item {
                height: 310px; padding: 20px; transition: all .3s;
                margin-bottom: 70px;

                .services-item-img {
                    width: 60px; height: 60px; margin: 0 auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
                .services-item-title {
                    text-align: center; font-size: 24px;color: $blue;
                    padding: 10px 0; margin-bottom: 20px;
                    border-bottom: 2px solid $yellow;
                }
                .services-item-text {
                    transition: all .3s;
                    font-size: 16px;
                    color: $blue; font-weight: 300;
                    line-height: 1.5;
                }
                &:hover {
                    cursor: pointer; box-shadow: 0 3px 7px rgba(0,0,0,0.35);
                }
            }
        }
    }
}
