@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
.lSSlideWrapper, .lSSlideWrapper .lSFade {
  position: relative; }

.lSSlideWrapper .lSSlide, .lSSlideWrapper.usingCss .lSFade > * {
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important; }

.lSSlideOuter, .lSSlideOuter .lSPager.lSGallery {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

.lSSlideOuter .lSPager.lSGallery:after, .lSSlideWrapper > .lightSlider:after {
  clear: both; }

.lSSlideOuter {
  overflow: hidden;
  user-select: none; }

.lightSlider:after, .lightSlider:before {
  content: " ";
  display: table; }

.lightSlider {
  overflow: hidden;
  margin: 0; }

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden; }

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform,height;
  transition-property: transform,height; }

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%; }

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.lSSlideWrapper .lSFade > .active {
  z-index: 10; }

.lSSlideWrapper.usingCss .lSFade > .active {
  opacity: 1; }

.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center; }

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px; }

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s; }

.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #428bca; }

.lSSlideOuter .media {
  opacity: .8; }

.lSSlideOuter .media.active {
  opacity: 1; }

.lSSlideOuter .lSPager.lSGallery {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  user-select: none; }

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius .12s linear 0s .35s linear 0s;
  transition: border-radius .12s linear 0s .35s linear 0s; }

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px; }

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%; }

.lSSlideOuter .lSPager.lSGallery:after, .lSSlideOuter .lSPager.lSGallery:before {
  content: " ";
  display: table; }

.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: .5;
  -webkit-transition: opacity .35s linear 0s;
  transition: opacity .35s linear 0s; }

.lSAction > a:hover {
  opacity: 1; }

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px; }

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px; }

.lSAction > a.disabled {
  pointer-events: none; }

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden; }

.lSSlideOuter.vertical {
  position: relative; }

.lSSlideOuter.vertical.noPager {
  padding-right: 0 !important; }

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0; }

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important; }

.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0; }

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto; }

.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px; }

.lSSlideOuter.lSrtl {
  direction: rtl; }

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
  padding-left: 0;
  list-style: none; }

.lSSlideOuter.lSrtl .lSPager, .lSSlideOuter.lSrtl .lightSlider {
  padding-right: 0; }

.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider > * {
  float: left; }

.lSSlideOuter.lSrtl .lSGallery li, .lSSlideOuter.lSrtl .lightSlider > * {
  float: right !important; }

@-webkit-keyframes rightEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: -15px; } }

@keyframes rightEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: -15px; } }

@-webkit-keyframes topEnd {
  0%, 100% {
    top: 0; }
  50% {
    top: -15px; } }

@keyframes topEnd {
  0%, 100% {
    top: 0; }
  50% {
    top: -15px; } }

@-webkit-keyframes leftEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: 15px; } }

@keyframes leftEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: 15px; } }

@-webkit-keyframes bottomEnd {
  0%, 100% {
    bottom: 0; }
  50% {
    bottom: -15px; } }

@keyframes bottomEnd {
  0%, 100% {
    bottom: 0; }
  50% {
    bottom: -15px; } }

.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd .3s;
  animation: rightEnd .3s;
  position: relative; }

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd .3s;
  animation: leftEnd .3s;
  position: relative; }

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd .3s;
  animation: topEnd .3s;
  position: relative; }

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd .3s;
  animation: bottomEnd .3s;
  position: relative; }

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd .3s;
  animation: leftEnd .3s;
  position: relative; }

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd .3s;
  animation: rightEnd .3s;
  position: relative; }

.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

/*_____scrollbar________________________________________________________________________________________________________*/
::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 0;
  height: 0; }

::-webkit-scrollbar-track {
  background-color: #ecedee;
  opacity: .5; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #949494;
  opacity: .5; }

::-webkit-scrollbar-thumb:hover {
  background-color: #2f4050; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/*____________________________________________________________________________________________________________________*/
@keyframes animationRotate {
  0% {
    transform: rotate(-360deg); }
  100% {
    transform: rotate(0deg); } }

.lSPager {
  display: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 0.5px; }

body {
  font-family: "Calibri", sans-serif;
  font-size: 14px;
  min-width: 1220px; }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

a {
  text-decoration: none;
  cursor: pointer; }

h2 {
  font-size: 30px;
  color: #004a8f;
  text-transform: uppercase;
  text-align: center; }

.xlSNext, .xlSPrev {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 10px;
  height: 50px; }
  .xlSNext:hover, .xlSPrev:hover {
    transition: all .3s;
    opacity: .5;
    cursor: pointer; }

.xlSNext {
  background: url(/img/icons/arr_r.svg) center/contain no-repeat;
  right: -50px; }

.xlSPrev {
  background: url(/img/icons/arr_l.svg) center/contain no-repeat;
  left: -50px; }

section.banner {
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  section.banner .container {
    padding: 140px 0 50px; }
  section.banner h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 40px; }

[class*=" ikon-"], [class^=ikon-] {
  font-family: ikon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  width: auto; }

@font-face {
  font-family: ikon;
  src: url(../../fonts/ik/ikon.eot?hy5S23w);
  src: url(../../fonts/ik/ikon.eot?hy5S23w#iefix) format("embedded-opentype"), url(../../fonts/ik/ikon.ttf?hy5S23w) format("truetype"), url(../../fonts/ik/ikon.woff?hy5S23w) format("woff"), url(../../fonts/ik/ikon.svg?hy5S23w#lpicon) format("svg");
  font-weight: 400;
  font-style: normal; }

.ikon-arrow_left:before {
  content: "\e935"; }

.ikon-arrow_right:before {
  content: "\e936"; }

.ikon-bubbles:before {
  content: "\e91c"; }

.ikon-bubbles-answer:before {
  content: "\e91d"; }

.ikon-bubbles-questions:before {
  content: "\e91e"; }

.ikon-book:before {
  content: "\e91f"; }

.ikon-calendar:before {
  content: "\e920"; }

.ikon-envelope-letter:before {
  content: "\e921"; }

.ikon-info:before {
  content: "\e922"; }

.ikon-link:before {
  content: "\e923"; }

.ikon-list:before {
  content: "\e924"; }

.ikon-male-user:before {
  content: "\e925"; }

.ikon-notebook:before {
  content: "\e926"; }

.ikon-paper-clip:before {
  content: "\e927"; }

.ikon-shareit:before {
  content: "\e928"; }

.ikon-speedometer:before {
  content: "\e929"; }

.ikon-tag:before {
  content: "\e92a"; }

.ikon-term:before {
  content: "\e92b"; }

.ikon-quote-start:before {
  content: "\e915"; }

.ikon-quote-end:before {
  content: "\e914"; }

.ikon-fontsize-0:before {
  content: "\e903"; }

.ikon-fontsize-1:before {
  content: "\e904"; }

.ikon-fontsize-2:before {
  content: "\e905"; }

.ikon-sash:before {
  content: "\e900"; }

.ikon-letter-a:before {
  content: "\e901"; }

.ikon-letter-a-inverse:before {
  content: "\e902"; }

.ikon-facebook:before {
  content: "\e910"; }

.ikon-google-plus:before {
  content: "\e90c"; }

.ikon-pinterest:before {
  content: "\e90d"; }

.ikon-twitter:before {
  content: "\e90e"; }

.ikon-instagram:before {
  content: "\e90f"; }

.ikon-youtube:before {
  content: "\e90b"; }

.ikon-linkedin:before {
  content: "\e933"; }

.ikon-anchor:before {
  content: "\e912"; }

.ikon-copy-link:before {
  content: "\e913"; }

.ikon-mail:before {
  content: "\e92e"; }

.ikon-www:before {
  content: "\e934"; }

.ikon-delete:before {
  content: "\e930"; }

.ikon-plus:before {
  content: "\e92f"; }

.ikon-playback-pause:before {
  content: "\e92c"; }

.ikon-return:before {
  content: "\e91a"; }

.ikon-back:before {
  content: "\e919"; }

.ikon-view-all:before {
  content: "\e911"; }

.ikon-prev:before {
  content: "\e91b"; }

.ikon-next:before {
  content: "\e918"; }

.ikon-file-download:before {
  content: "\e916"; }

.ikon-file-link:before {
  content: "\e917"; }

.ikon-home:before {
  content: "\e90a"; }

.ikon-chevron-bold-down:before {
  content: "\e906"; }

.ikon-chevron-bold-up:before {
  content: "\e907"; }

.ikon-chevron-bold-left:before {
  content: "\e908"; }

.ikon-chevron-bold-right:before {
  content: "\e909"; }

.ikon-attention:before {
  content: "\e931"; }

.ikon-help:before {
  content: "\e932"; }

.ikon-playback-play:before {
  content: "\e92d"; }

header .top-part .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; }

header .top-part a.logo-box img.logo {
  width: 130px;
  height: auto; }

header .top-part form.search-form {
  display: flex;
  align-items: center;
  width: 420px;
  background: #ededed;
  margin-left: 200px; }
  header .top-part form.search-form input {
    width: 400px;
    height: 26px;
    border: none;
    background-color: transparent;
    padding: 0 10px; }
  header .top-part form.search-form i.icon-search {
    height: 16px;
    width: 30px;
    background-image: url(/img/icons/search.png); }

header .top-part a.header-link {
  display: flex;
  align-items: center;
  color: #004a8f;
  text-transform: uppercase;
  font-size: 12px;
  user-select: none; }
  header .top-part a.header-link span.text {
    margin-right: 10px; }
  header .top-part a.header-link i.icon-cabinet {
    background-image: url(/img/icons/credit_cards.svg); }
  header .top-part a.header-link i.icon-user {
    background-image: url(/img/icons/user.svg);
    background-size: 85%; }
  header .top-part a.header-link:hover {
    transition: all .3s;
    opacity: .8;
    cursor: pointer; }

header .bottom-part {
  background: #004a8f; }
  header .bottom-part .container {
    height: 50px;
    display: flex;
    align-items: center; }
  header .bottom-part nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .bottom-part nav a.nav-item {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 46px; }
      header .bottom-part nav a.nav-item:hover {
        color: #ffc905; }
      header .bottom-part nav a.nav-item.active {
        color: #ffc905;
        border-bottom: 3px solid #ffc905; }
  header .bottom-part .lang-box {
    user-select: none;
    position: relative;
    z-index: 100; }
    header .bottom-part .lang-box .lang {
      display: inline-block;
      color: #ffc905;
      font-size: 14px;
      text-transform: uppercase; }
    header .bottom-part .lang-box .arrow-icon {
      display: inline-block;
      width: 8px;
      height: 10px;
      background: url(/img/icons/arrow-down.png) center/contain no-repeat; }
    header .bottom-part .lang-box:hover .lang {
      transition: all .3s;
      opacity: .8;
      cursor: pointer; }
  header .bottom-part .dropdown {
    position: absolute;
    right: 0;
    top: 101%;
    padding: 5px 10px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    display: none; }
    header .bottom-part .dropdown .dropdown-item:hover {
      transition: all .3s;
      opacity: .8;
      cursor: pointer; }

footer {
  background: #004a8f;
  padding: 60px 0 50px; }
  footer .container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3883c8;
    padding-bottom: 20px;
    position: relative; }
  footer h3 {
    color: #ffc905;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  footer .left-part {
    width: 40%;
    padding-left: 90px; }
    footer .left-part form {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px; }
      footer .left-part form input {
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        padding: 10px 0;
        height: 30px;
        width: 270px; }
        footer .left-part form input::placeholder {
          color: #fff; }
      footer .left-part form button {
        background-color: transparent;
        color: #ffc905;
        text-transform: uppercase;
        border: 1px solid #ffc905;
        width: 100px;
        height: 30px;
        margin-left: 20px; }
    footer .left-part i {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      border: 1px solid #fff; }
    footer .left-part .icon-fb {
      background: url(/img/icons/facebook.png) center/12px no-repeat; }
    footer .left-part .icon-yt {
      background: url(/img/icons/youtube.png) center/20px no-repeat; }
    footer .left-part .sitemap {
      text-decoration: underline;
      color: #fff;
      margin-top: 20px;
      display: block; }
  footer .right-part {
    width: 50%;
    padding-left: 150px; }
    footer .right-part .contact-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      footer .right-part .contact-item i.icon-bank {
        background-image: url(/img/icons/bank.png); }
      footer .right-part .contact-item i.icon-location {
        background-image: url(/img/icons/location.png); }
      footer .right-part .contact-item i.icon-envelope {
        background-image: url(/img/icons/envelope.png); }
      footer .right-part .contact-item span {
        color: #fff;
        margin-left: 10px; }
  footer .itkron-box {
    position: absolute;
    right: 0;
    bottom: -30px;
    color: #fff; }
    footer .itkron-box a {
      text-decoration: underline;
      color: #fff; }

section#banner-section .carousel {
  position: relative; }

section#banner-section .slide-box .slide {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center; }
  section#banner-section .slide-box .slide .text {
    width: 500px;
    padding: 20px;
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    background-color: rgba(0, 74, 143, 0.5); }
  section#banner-section .slide-box .slide.main-slide {
    background: url(/img/main-banner/bg.jpg) center bottom/cover no-repeat;
    color: #004a8f; }
    section#banner-section .slide-box .slide.main-slide .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -90px; }
    section#banner-section .slide-box .slide.main-slide .title {
      font-size: 37px;
      font-weight: bold;
      margin-bottom: 50px; }
    section#banner-section .slide-box .slide.main-slide .box {
      display: flex;
      justify-content: space-between;
      width: 100%; }
    section#banner-section .slide-box .slide.main-slide .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%; }
    section#banner-section .slide-box .slide.main-slide img {
      height: 50px;
      width: auto;
      margin-bottom: 20px; }
    section#banner-section .slide-box .slide.main-slide .count {
      font-size: 40px;
      font-weight: bold;
      min-width: 130px;
      text-align: center; }
    section#banner-section .slide-box .slide.main-slide .count-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center; }

section#banner-section .lSPager {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 20px;
  z-index: 100; }
  section#banner-section .lSPager li {
    width: 25px;
    height: 25px;
    margin: 5px;
    background: url(/img/icons/circle-empty.svg) center/cover no-repeat; }
    section#banner-section .lSPager li a {
      display: none; }
    section#banner-section .lSPager li.active {
      background: url(/img/icons/circle-full.svg) center/cover no-repeat;
      animation: animationRotate linear 1s infinite;
      transform-origin: 50% 50%; }

section#banner-section .xlSNext {
  left: calc(50% + 640px);
  z-index: 10; }

section#banner-section .xlSPrev {
  right: calc(50% + 640px);
  z-index: 10;
  left: auto; }

section#partners-section {
  padding: 90px 0 50px; }
  section#partners-section h3 {
    font-size: 18px;
    color: #616161;
    margin-bottom: 20px;
    text-align: center; }
  section#partners-section .partners-slider-item {
    width: 250px;
    height: 150px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat; }

section#news-section {
  padding-top: 50px; }
  section#news-section h2 {
    margin-bottom: 40px; }
  section#news-section .news-slider {
    height: 380px !important; }
  section#news-section .news-slider-item-box {
    padding: 20px; }
  section#news-section .news-slider-item {
    display: block;
    transition: box-shadow .5s; }
    section#news-section .news-slider-item:hover {
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); }
      section#news-section .news-slider-item:hover .new-slider-item-title {
        color: #004a8f; }
  section#news-section .new-slider-item-img {
    width: 100%;
    height: 200px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
  section#news-section .new-slider-item-text-box {
    padding: 20px;
    height: 150px; }
  section#news-section .new-slider-item-date {
    color: #808080;
    font-size: 16px; }
  section#news-section .new-slider-item-title {
    color: #241f1f;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3; }

.pagination-box {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .pagination-box .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .pagination-box .pagination a.pagination-link {
      display: inline-block;
      width: 10px;
      height: 20px;
      margin: 0 10px;
      color: #808080;
      font-size: 18px;
      line-height: 1; }
      .pagination-box .pagination a.pagination-link.active {
        color: #004a8f; }
      .pagination-box .pagination a.pagination-link.prev {
        background: url(/img/icons/arr_l-g.svg) center/contain no-repeat; }
      .pagination-box .pagination a.pagination-link.next {
        background: url(/img/icons/arr_r-g.svg) center/contain no-repeat; }
      .pagination-box .pagination a.pagination-link.prev[href] {
        background: url(/img/icons/arr_l.svg) center/contain no-repeat; }
      .pagination-box .pagination a.pagination-link.next[href] {
        background: url(/img/icons/arr_r.svg) center/contain no-repeat; }

.share .share-label, .share .share-menu {
  display: inline-block;
  vertical-align: middle; }

.share .share-label {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 600;
  padding-right: 1rem;
  opacity: .5;
  color: #a8a8a8; }

.share .share-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: -1px;
  margin-bottom: .275rem;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0.2);
  transition: all 0.75s cubic-bezier(0, 0, 0.145, 1.005); }
  .share .share-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(30, 144, 255, 0.3);
    position: relative; }
    .share .share-menu li a i {
      font-size: 20px;
      color: #fff;
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.4, 0, 0.22, 1) 0.55s; }
  .share .share-menu li:nth-child(1) {
    transition-delay: .55s; }
  .share .share-menu li:nth-child(2) {
    transition-delay: 605ms; }
  .share .share-menu li:nth-child(3) {
    transition-delay: .66s; }
  .share .share-menu li:nth-child(4) {
    transition-delay: 715ms; }
  .share .share-menu li:nth-child(5) {
    transition-delay: .77s; }
  .share .share-menu li:nth-child(6) {
    transition-delay: 825ms; }
  .share .share-menu li .facebook {
    background: #3b5998; }
  .share .share-menu li .twitter {
    background: #00aced; }
  .share .share-menu li .youtube {
    background: #c92228; }
  .share .share-menu li .copy-link, .share .share-menu li .mail {
    background: #4e4e4e; }
  .share .share-menu li .link, .share .share-menu li .www-link {
    background: #5c5c5c; }

.share:hover .share-menu li {
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0, 0, 0.145, 1.005); }
  .share:hover .share-menu li i {
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.22, 1) 0.15s; }
  .share:hover .share-menu li:nth-child(1) {
    transition-delay: 0s; }
  .share:hover .share-menu li:nth-child(2) {
    transition-delay: 65ms; }
  .share:hover .share-menu li:nth-child(3) {
    transition-delay: .13s; }
  .share:hover .share-menu li:nth-child(4) {
    transition-delay: 195ms; }
  .share:hover .share-menu li:nth-child(5) {
    transition-delay: .26s; }
  .share:hover .share-menu li:nth-child(6) {
    transition-delay: 325ms; }

.modal-box {
  position: fixed;
  top: -200vh;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  opacity: 0;
  transition: all .5s; }
  .modal-box .modal {
    width: 630px;
    background: #fff;
    position: relative;
    border-radius: 0;
    z-index: 1100; }
  .modal-box .modal-header {
    line-height: 60px;
    text-align: center;
    background-color: #004a8f;
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
  .modal-box .modal-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    line-height: 1;
    width: 20px;
    height: 20px; }
    .modal-box .modal-close-icon:hover {
      transform: scale(1.1);
      cursor: pointer; }
  .modal-box .modal-body {
    padding: 20px; }
  .modal-box.show {
    top: 0;
    opacity: 1; }

body.about-page section.banner {
  background-image: url(/img/banners/about.png); }

body.about-page section.content {
  padding: 50px 0 200px; }
  body.about-page section.content .container {
    padding-left: 120px;
    font-size: 16px; }
    body.about-page section.content .container:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 2px;
      background: #004a8f; }
  body.about-page section.content p {
    margin-bottom: 30px; }
  body.about-page section.content h3 {
    color: #004a8f;
    margin-bottom: 10px; }
  body.about-page section.content .list {
    margin-bottom: 30px; }
    body.about-page section.content .list .item {
      display: flex;
      align-items: center;
      margin-bottom: 5px; }
      body.about-page section.content .list .item i.icon-check {
        background-image: url(/img/icons/check.svg);
        margin-right: 10px; }
  body.about-page section.content .link-box {
    display: flex;
    align-items: center; }
    body.about-page section.content .link-box i.icon-prostir {
      background-image: url(/img/icons/fgfh.png);
      margin-right: 10px; }
    body.about-page section.content .link-box a {
      text-decoration: underline;
      color: #004a8f; }

body.news-page section.banner {
  background-image: url(/img/banners/news.png); }

body.news-page section.content {
  padding: 50px 0; }
  body.news-page section.content .container {
    padding: 0 80px; }

body.news-page .news-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  body.news-page .news-box .news-item-box {
    width: 50%;
    padding: 15px 40px; }
  body.news-page .news-box .news-item {
    display: block;
    transition: box-shadow .5s; }
    body.news-page .news-box .news-item:hover {
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); }
      body.news-page .news-box .news-item:hover .new-item-title {
        color: #004a8f; }
  body.news-page .news-box .new-item-img {
    width: 100%;
    height: 200px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
  body.news-page .news-box .new-item-text-box {
    padding: 20px;
    height: 138px; }
  body.news-page .news-box .new-item-date {
    color: #808080;
    font-size: 14px;
    margin-bottom: 5px; }
  body.news-page .news-box .new-item-title {
    color: #241f1f;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold; }

body.members-page section.banner {
  background-image: url(/img/banners/members.png); }

body.members-page section.content h3 {
  text-align: center;
  color: #004a8f;
  font-weight: normal;
  font-size: 24px;
  margin: 50px 0; }

body.members-page .members-slider-box {
  width: 1100px;
  margin: 0 auto;
  position: relative; }

body.members-page .members-slider-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

body.members-page .member-link {
  display: block;
  width: 200px;
  height: 130px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 30px; }
  body.members-page .member-link[href] {
    border: 2px solid #e8e8e8; }

body.members-page .all-banks .all-banks-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  height: 40px;
  padding: 0 20px;
  margin: 40px 0;
  cursor: pointer; }
  body.members-page .all-banks .all-banks-view .all-banks-title {
    color: #004a8f;
    font-size: 16px; }
  body.members-page .all-banks .all-banks-view .all-banks-arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/img/icons/arr_l.svg) center/contain no-repeat;
    transform: rotate(-90deg);
    transition: all .3s; }
  body.members-page .all-banks .all-banks-view.active .all-banks-arrow {
    transform: rotate(90deg); }

body.members-page .all-banks .all-banks-dropdown {
  display: none;
  padding: 30px; }

body.members-page .all-banks .members-slider-item {
  padding: 0 30px; }

body.members-page .table-box {
  border-top: 2px solid #e8e8e8; }
  body.members-page .table-box .table-box-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px; }
    body.members-page .table-box .table-box-view .table-box-view-title {
      color: #004a8f;
      font-size: 16px; }
    body.members-page .table-box .table-box-view .table-box-view-arrow {
      width: 40px;
      height: 40px;
      background: #e8e8e8;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 40px; }
      body.members-page .table-box .table-box-view .table-box-view-arrow:after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(/img/icons/arr_l.svg) center/contain no-repeat;
        transform: rotate(-90deg);
        cursor: pointer;
        transition: all .3s; }
      body.members-page .table-box .table-box-view .table-box-view-arrow:hover {
        transition: all .3s;
        opacity: .7; }
    body.members-page .table-box .table-box-view.active .table-box-view-title {
      font-weight: bold; }
    body.members-page .table-box .table-box-view.active .table-box-view-arrow {
      background: #004a8f; }
    body.members-page .table-box .table-box-view.active .table-box-view-arrow:after {
      background: url(/img/icons/arr_l-gg.svg) center/contain no-repeat;
      transform: rotate(90deg); }
  body.members-page .table-box .table-box-dropdown {
    display: none;
    padding: 30px; }
  body.members-page .table-box:last-child {
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 100px; }

body.members-page table {
  font-size: 16px;
  color: #004a8f;
  border: 1px solid #e5f2ff;
  border-collapse: collapse; }
  body.members-page table th {
    background: #004a8f;
    font-weight: bold;
    color: #fff; }
  body.members-page table td {
    background: #fffbed;
    vertical-align: top; }
    body.members-page table td:first-child {
      text-align: center; }
  body.members-page table th, body.members-page table td {
    padding: 10px;
    border: 1px solid #e5f2ff; }
  body.members-page table a {
    color: #004a8f; }

body.services-page section.banner {
  background-image: url(/img/banners/services.png?v1); }

body.services-page section.content {
  padding: 70px 0; }
  body.services-page section.content h3 {
    text-align: center;
    color: #004a8f;
    font-weight: normal;
    font-size: 18px; }

body.services-page .services-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px; }
  body.services-page .services-box .services-item-box {
    width: 33.33%;
    padding: 0 20px; }
    body.services-page .services-box .services-item-box .services-item {
      height: 310px;
      padding: 20px;
      transition: all .3s;
      margin-bottom: 70px; }
      body.services-page .services-box .services-item-box .services-item .services-item-img {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
      body.services-page .services-box .services-item-box .services-item .services-item-title {
        text-align: center;
        font-size: 24px;
        color: #004a8f;
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 2px solid #ffc905; }
      body.services-page .services-box .services-item-box .services-item .services-item-text {
        transition: all .3s;
        font-size: 16px;
        color: #004a8f;
        font-weight: 300;
        line-height: 1.5; }
      body.services-page .services-box .services-item-box .services-item:hover {
        cursor: pointer;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); }

body.news-item-page section.breadcrumbs .container {
  font-size: 12px;
  line-height: 24px;
  margin: 20px auto 40px;
  text-transform: uppercase; }
  body.news-item-page section.breadcrumbs .container a {
    color: #b3b3b3;
    margin-right: 5px; }
  body.news-item-page section.breadcrumbs .container span {
    color: #b3b3b3;
    margin-right: 5px; }
  body.news-item-page section.breadcrumbs .container span.current {
    color: #004a8f; }

body.news-item-page section.content {
  min-height: 40vh; }
  body.news-item-page section.content .container {
    display: flex;
    margin-bottom: 100px; }
    body.news-item-page section.content .container .left-box {
      width: 50%;
      padding-right: 20px; }
      body.news-item-page section.content .container .left-box img {
        width: 100%;
        height: auto;
        border: 1px solid #ebebeb; }
    body.news-item-page section.content .container .right-box {
      width: 50%;
      padding-left: 20px; }
    body.news-item-page section.content .container .news-title {
      font-size: 24px;
      line-height: 36px;
      color: #004a8f;
      font-weight: bold;
      margin-bottom: 30px; }
    body.news-item-page section.content .container .news-date {
      font-size: 16px;
      color: #a8a8a8;
      margin-bottom: 30px; }
    body.news-item-page section.content .container .news-text {
      font-size: 16px;
      line-height: 24px;
      color: #004a8f;
      margin-bottom: 30px; }

body.business-page section.banner {
  background-image: url(/img/banners/business.png); }

body.business-page section.content {
  padding: 60px 0 80px; }
  body.business-page section.content .line-box {
    padding-left: 120px;
    font-size: 16px;
    position: relative;
    margin-bottom: 60px; }
    body.business-page section.content .line-box:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 2px;
      background: #004a8f; }
  body.business-page section.content p {
    margin-bottom: 30px;
    color: #241f1f;
    line-height: 1.5; }
  body.business-page section.content h3 {
    color: #004a8f;
    margin-bottom: 15px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 16px; }
  body.business-page section.content a {
    color: #004a8f;
    text-decoration: underline; }

body.consumers-page section.banner {
  background-image: url(/img/banners/consumers.png); }

body.consumers-page section.content {
  padding: 60px 0 0; }
  body.consumers-page section.content .line-box {
    padding-left: 120px;
    font-size: 16px;
    position: relative;
    margin-bottom: 60px; }
    body.consumers-page section.content .line-box:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 2px;
      background: #004a8f; }
  body.consumers-page section.content p {
    margin-bottom: 30px;
    color: #241f1f;
    line-height: 1.5; }
  body.consumers-page section.content h3 {
    color: #004a8f;
    margin-bottom: 15px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 16px; }
  body.consumers-page section.content .order-card-btn {
    display: block;
    width: 230px;
    height: 50px;
    background-color: #ffc905;
    color: #004a8f;
    text-transform: uppercase;
    border: none;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold; }
    body.consumers-page section.content .order-card-btn:hover {
      cursor: pointer;
      transition: all .3s;
      opacity: .8; }
  body.consumers-page section.content .banks {
    text-align: center;
    margin: 80px 0 40px; }
    body.consumers-page section.content .banks h3 {
      margin-bottom: 10px; }
    body.consumers-page section.content .banks h4 {
      font-weight: normal;
      color: #616161;
      font-size: 18px; }
    body.consumers-page section.content .banks .members-box {
      position: relative; }
    body.consumers-page section.content .banks .members-slider {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 1100px;
      margin: 30px auto; }
    body.consumers-page section.content .banks .member-link {
      display: block;
      width: 200px;
      height: 130px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-bottom: 30px; }
      body.consumers-page section.content .banks .member-link[href] {
        border: 2px solid #e8e8e8; }

body.consumers-page .modal-body .text {
  text-align: center;
  font-size: 16px;
  color: #004a8f;
  line-height: 1.5; }

body.consumers-page .modal-body .banks {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }

body.consumers-page .modal-body .bank {
  margin: 20px 20px 0; }

body.consumers-page .modal-body .bank-link {
  display: block;
  width: 200px;
  height: 130px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 5px; }
  body.consumers-page .modal-body .bank-link[href] {
    border: 2px solid #e8e8e8; }

body.consumers-page .modal-body .bank-tel {
  text-align: center;
  font-size: 16px;
  color: #004a8f; }

body.banks-page section.banner {
  background-image: url(/img/banners/banks.png); }

body.banks-page section.content {
  padding: 70px 0;
  font-size: 16px; }
  body.banks-page section.content p.headline {
    font-size: 18px;
    text-align: center;
    color: #004a8f;
    width: 850px;
    margin: 0 auto; }
  body.banks-page section.content .advantages-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    body.banks-page section.content .advantages-box .advantages-item-box {
      width: 50%;
      padding: 0 20px; }
      body.banks-page section.content .advantages-box .advantages-item-box .advantages-item {
        height: 440px;
        padding: 20px 50px;
        transition: all .3s;
        margin-bottom: 70px; }
        body.banks-page section.content .advantages-box .advantages-item-box .advantages-item .advantages-item-img {
          width: 60px;
          height: 60px;
          margin: 0 auto 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        body.banks-page section.content .advantages-box .advantages-item-box .advantages-item .advantages-item-title {
          text-align: center;
          font-size: 24px;
          color: #004a8f;
          padding: 10px 0;
          margin-bottom: 30px;
          border-bottom: 2px solid #ffc905; }
        body.banks-page section.content .advantages-box .advantages-item-box .advantages-item .advantages-item-text {
          font-size: 16px;
          color: #004a8f;
          font-weight: 300; }
        body.banks-page section.content .advantages-box .advantages-item-box .advantages-item:hover {
          cursor: pointer;
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); }
  body.banks-page section.content .list {
    margin-bottom: 30px; }
    body.banks-page section.content .list .item {
      display: flex;
      margin-bottom: 10px; }
      body.banks-page section.content .list .item i.icon-check {
        background-image: url(/img/icons/check.svg);
        margin-right: 10px;
        flex-shrink: 0; }

section#banner-section .slide-box .slide .text {
  font-size: 26px;
  line-height: 1.2; }

.all-banks-view.active .all-banks-title {
  font-weight: 700; }

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px; }

body {
  min-width: auto; }

header .top-part form.search-form {
  max-width: 420px;
  width: 100%; }

header .top-part form.search-form input {
  max-width: 400px;
  width: 100%; }

.menu-toggle {
  background-color: #000;
  padding: 12px;
  cursor: pointer;
  display: none; }
  .menu-toggle span {
    display: block;
    height: 1px;
    width: 20px;
    background-color: #fff;
    transition: 0.3s; }
    .menu-toggle span ~ span {
      margin-top: 6px; }
  .menu-toggle.-active span:nth-child(2) {
    opacity: 0; }
  .menu-toggle.-active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); }
  .menu-toggle.-active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); }

.header-link__mobile, .mobile-input-wrapper {
  display: none; }

.bottom-part {
  display: block; }

@media (max-width: 1199px) {
  .bottom-part {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 100;
    left: 0;
    right: 0; }
  header .top-part a.header-link {
    display: none; }
  .menu-toggle {
    display: block; }
  header .top-part form.search-form {
    margin-left: 15px;
    margin-right: 15px; }
  header .bottom-part nav {
    flex-direction: column;
    align-items: flex-start; }
  header .bottom-part .container {
    height: auto; }
  header .bottom-part nav a.nav-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid #595959; }
  header .bottom-part {
    background-color: #333333; }
  .lang-box {
    padding: 20px; }
  .mobile-links-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  .header-link__mobile {
    margin-right: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  .header-link__mobile:hover.header-link__mobile span {
    color: #ffc905; }
  .header-link__mobile span {
    color: #fff;
    display: block;
    transition: 0.3s; }
  .header-link__mobile i.icon-cabinet {
    margin-left: 5px;
    background-image: url(/img/icons/credit_cards.svg); }
  .header-link__mobile i.icon-user {
    margin-left: 5px;
    background-image: url(/img/icons/user.svg); } }

@media (max-width: 575px) {
  header .top-part form.search-form input {
    display: none; }
  header .top-part form.search-form {
    background-color: transparent;
    width: auto; }
  .top-part {
    position: relative; }
  header .top-part form.search-form i.icon-search {
    position: absolute;
    right: 70px;
    transition: 0.3s;
    cursor: pointer; }
    header .top-part form.search-form i.icon-search:hover {
      transform: scale(1.1); }
  .mobile-links-wrapper {
    flex-direction: column;
    align-items: flex-start; }
  .header-link__mobile {
    margin-right: 0;
    margin-bottom: 20px; }
  header .bottom-part .dropdown {
    left: 101%;
    top: 0;
    width: 80px;
    transform: translate(0%, 50%); }
  header .bottom-part .lang-box .arrow-icon {
    transform: rotate(-90deg); }
  .mobile-input-wrapper {
    position: absolute;
    top: 60px;
    max-width: 350px;
    width: 100%;
    transform: translate(-50%, 0%);
    z-index: 101;
    left: 50%;
    background-color: #ededed;
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  .mobile-input-wrapper__close {
    position: relative;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px; }
    .mobile-input-wrapper__close:hover {
      opacity: 0.8; }
    .mobile-input-wrapper__close span:first-child {
      position: absolute;
      display: block;
      background-color: #000;
      width: 100%;
      height: 2px;
      left: 0;
      top: 50%;
      margin-top: -1px; }
    .mobile-input-wrapper__close span:last-child {
      position: absolute;
      display: block;
      background-color: #000;
      width: 2px;
      height: 100%;
      left: 50%;
      top: 0;
      margin-left: -1px; }
  .mobile-input-wrapper {
    padding: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: -9999px;
    transition: 0.3s opacity;
    opacity: 0; }
    .mobile-input-wrapper.-active {
      top: 60px;
      opacity: 1; }
  .mobile-input-wrapper input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px; } }

footer .left-part .sitemap {
  display: inline-block; }

@media (max-width: 1199px) {
  footer .itkron-box {
    right: 50%;
    transform: translate(50%, 0%);
    font-size: 12px;
    text-align: center;
    bottom: -40px; }
  footer .left-part, footer .right-part {
    width: 100%;
    padding-left: 0px;
    text-align: center; }
  footer .container {
    flex-wrap: wrap; }
  footer h3 {
    text-align: center; }
  footer .left-part form {
    justify-content: center; }
  footer .left-part .sitemap {
    margin-bottom: 30px; }
  .contact-item {
    justify-content: center; } }

@media (max-width: 1400px) {
  .xlSNext {
    right: 10px; }
  .xlSPrev {
    left: 10px; }
  .news-slider-box, .partners-slider-box {
    padding: 0 20px; }
  section#banner-section .xlSNext {
    left: 95%; }
  section#banner-section .xlSPrev {
    right: 95%; } }

@media (max-width: 991px) {
  section#banner-section .slide-box .slide.main-slide .count {
    font-size: 30px; }
  section#banner-section .slide-box .slide.main-slide .count-title {
    font-size: 16px; }
  section#banner-section .slide-box .slide.main-slide .title {
    font-size: 32px; }
  section#news-section .new-slider-item-img {
    background-size: 100% 100%; } }

@media (max-width: 767px) {
  section#banner-section .slide-box .slide.main-slide .box {
    flex-wrap: wrap;
    justify-content: center; }
  section#banner-section .slide-box .slide.main-slide .item {
    width: 33%;
    margin-bottom: 30px; } }

@media (max-width: 575px) {
  section#banner-section .slide-box .slide.main-slide img {
    height: 35px; }
  section#banner-section .slide-box .slide.main-slide .count {
    font-size: 20px; }
  section#banner-section .slide-box .slide.main-slide .count-title {
    font-size: 16px; }
  section#banner-section .slide-box .slide.main-slide .title {
    font-size: 26px; }
  h2 {
    font-size: 26px; }
  .xlSNext {
    right: 15px; }
  .xlSPrev {
    left: 15px; }
  section#banner-section .slide-box .slide .text {
    margin: 0 30px;
    font-size: 20px; } }

@media (max-width: 991px) {
  body.news-item-page section.content .container {
    flex-wrap: wrap; }
  body.news-item-page section.content .container .left-box, body.news-item-page section.content .container .right-box {
    width: 100%; }
  body.news-item-page section.content .container .left-box {
    margin-bottom: 30px;
    padding-right: 0; } }

@media (max-width: 1300px) {
  section.banner .container {
    padding: 140px 50px 50px; }
  body.about-page section.content .container:before {
    left: 50px;
    width: 50px; } }

@media (max-width: 575px) {
  section.banner .container {
    padding: 80px 20px 40px; }
  body.about-page section.content .container:before {
    display: none; }
  body.about-page section.content .container {
    padding-left: 15px; }
  body.about-page section.content h3 {
    text-align: center; }
  body.about-page section.content .link-box {
    justify-content: center; }
  body.about-page section.content {
    padding: 50px 0 50px; }
  section.banner h1 {
    font-size: 30px; } }

body.news-page .news-box .new-item-text-box {
  height: auto; }

body.news-page .news-box .new-item-img {
  height: 0;
  padding-bottom: 65%; }

body.news-page .news-box .new-item-img {
  background-size: 100% 100%; }

@media (max-width: 650px) {
  body.news-page .news-box .news-item-box {
    width: 100%;
    padding: 15px 0px; } }

@media (max-width: 900px) {
  body.news-page section.content .container {
    padding: 0 15px; } }

body.services-page .services-box .services-item-box .services-item {
  height: auto; }

@media (max-width: 1199px) {
  body.services-page .services-box .services-item-box {
    width: 50%; } }

@media (max-width: 820px) {
  body.services-page .services-box .services-item-box {
    width: 100%; } }

body.banks-page section.content .advantages-box .advantages-item-box .advantages-item {
  height: auto; }

body.banks-page section.content p.headline {
  max-width: 850px;
  width: 100%; }

@media (max-width: 1050px) {
  body.banks-page section.content .advantages-box .advantages-item-box {
    width: 100%; } }

@media (max-width: 575px) {
  body.banks-page section.content .advantages-box .advantages-item-box .advantages-item {
    padding: 20px 0px;
    margin-bottom: 20px; }
  body.banks-page section.content p.headline {
    font-size: 14px; }
  body.banks-page section.content .advantages-box .advantages-item-box {
    padding: 0; } }

body.consumers-page section.content .line-box:before {
  left: -15px; }

@media (max-width: 575px) {
  body.consumers-page section.content .line-box:before {
    display: none; }
  body.consumers-page section.content .line-box {
    padding-left: 0; }
  body.consumers-page section.content h3 {
    text-align: center; } }

@media (max-width: 1400px) {
  body.consumers-page section.content .banks .members-box {
    padding: 0 30px; } }

@media (max-width: 1400px) {
  body.consumers-page section.content .line-box:before {
    left: 35px;
    width: 50px; } }

@media (max-width: 575px) {
  body.business-page section.content .line-box:before {
    display: none; }
  body.business-page section.content .line-box {
    padding-left: 0; }
  body.business-page section.content h3 {
    text-align: center; } }

@media (max-width: 1400px) {
  body.business-page section.content .line-box:before {
    left: 35px;
    width: 50px; } }

body.members-page .members-slider-box {
  max-width: 1100px;
  width: 100%; }

@media (max-width: 1400px) {
  body.members-page .members-slider-box {
    padding: 0 30px; } }

body.members-page .table-box .table-box-dropdown {
  overflow-x: auto; }

body.members-page table {
  min-width: 1110px; }

@media (max-width: 575px) {
  body.members-page .members-slider-item {
    justify-content: center; } }

body.members-page .member-link {
  margin-right: 5px;
  margin-left: 5px; }

@media (max-width: 1200px) {
  .container {
    width: 100%; } }
