@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import "components/lightslider.min";
@import "components/scrollbar";

$blue: #004a8f;
$yellow: #ffc905;

@keyframes animationRotate{
    0% {transform:  rotate(-360deg) ;}
    100% {transform:  rotate(0deg) ;}
}

.lSPager { display: none; }
* { padding: 0; margin: 0; box-sizing: border-box; outline: none; letter-spacing: 0.5px;}
body {
    font-family: "Calibri", sans-serif; font-size: 14px;
    min-width: 1220px;
}
.container {
    width: 1200px; margin: 0 auto; position: relative;
}
i {
    display: inline-block; width: 20px; height: 20px;
    background-size: contain; background-position: center;
    background-repeat: no-repeat;
}
a { text-decoration: none; cursor: pointer; }
h2 { font-size: 30px; color: $blue; text-transform: uppercase; text-align: center; }
.xlSNext, .xlSPrev {
    position: absolute; top: 50%; margin-top: -25px;
    width: 10px; height: 50px;

    &:hover { transition: all .3s; opacity: .5; cursor: pointer; }
}
.xlSNext {
    background: url(/img/icons/arr_r.svg) center / contain no-repeat; right: -50px;
}
.xlSPrev {
    background: url(/img/icons/arr_l.svg) center / contain no-repeat; left: -50px;
}

section.banner {
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;

    .container { padding: 140px 0 50px;  }
    h1 { text-transform: uppercase; color: #fff; font-size: 40px; }
}


@import "components/ikon";
@import "components/header";
@import "components/footer";

@import "index-page/banner-section";
@import "index-page/partners-section";
@import "index-page/news-section";

@import "components/pagination";
@import "components/share-menu";
@import "components/modal-box";

@import "about-page";
@import "news-page";
@import "members-page";
@import "services-page";
@import "news-item-page";
@import "business-page";
@import "consumers-page";
@import "banks-page";

// responsive
@import "components/responsive-header";
@import "components/responsive-footer";
@import "components/responsive-index";
@import "components/responsive-news-item";
@import "components/responsive-about";
@import "components/responsive-news";
@import "components/responsive-services";
@import "components/responsive-banks";
@import "components/responsive-consumers";
@import "components/responsive-business";
@import "components/responsive-members";

@media (max-width: 1200px) {
    .container {width: 100%;}
}
