section#banner-section {
    .carousel {
        position: relative;
    }
    .slide-box {
        .slide {
            width: 100%; height: 600px;
            display: flex; align-items: center; justify-content: center;

            .text {
                width: 500px; padding: 20px;
                font-size: 32px; line-height: 1.3; color: #fff;
                background-color: rgba(0,74,143,0.5);
            }

            &.main-slide {
                background: url(/img/main-banner/bg.jpg) center bottom / cover no-repeat; color: $blue;

                .container {
                    display: flex; flex-direction: column; align-items: center; justify-content: center;
                    margin-top: -90px;
                }
                .title { font-size: 37px; font-weight: bold; margin-bottom: 50px; }
                .box { display: flex; justify-content: space-between; width: 100%; }
                .item { display: flex; flex-direction: column; align-items: center; width: 20%; }
                img { height: 50px; width: auto; margin-bottom: 20px; }
                .count { font-size: 40px; font-weight: bold; min-width: 130px; text-align: center; }
                .count-title { font-size: 20px; font-weight: bold; text-align: center; }
            }
        }
    }
    .lSPager {
        display: block; width: 100%;
        position: absolute; bottom: 20px; z-index: 100;

        li {
            width: 25px; height: 25px; margin: 5px;
            background: url(/img/icons/circle-empty.svg) center / cover no-repeat;

            a { display: none; }

            &.active {
                background: url(/img/icons/circle-full.svg) center / cover no-repeat;
                animation: animationRotate linear 1s infinite;
                transform-origin: 50% 50%;
            }
        }
    }
    .xlSNext { left: calc(50% + 640px); z-index: 10; }
    .xlSPrev { right: calc(50% + 640px); z-index: 10; left: auto; }
}
