section#news-section {
    padding-top: 50px;

    h2 { margin-bottom: 40px; }
    .container {}
    .news-slider-box {}
    .news-slider { height: 380px!important; }
    .news-slider-item-box { padding: 20px; }
    .news-slider-item {
        display: block;
        transition: box-shadow .5s;

        &:hover {
            box-shadow: 0 3px 7px rgba(0,0,0,0.35);
            .new-slider-item-title {color: $blue;}
        }
    }
    .new-slider-item-img {
        width: 100%; height: 200px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .new-slider-item-text-box { padding: 20px; height: 150px; }
    .new-slider-item-date { color: #808080; font-size: 16px; }
    .new-slider-item-title { color: #241f1f; font-size: 18px; font-weight: bold; line-height: 1.3; }
    .xlSNext { }
    .xlSPrev { }
}
