section#partners-section {
    padding: 90px 0 50px;

    h2 {  }
    h3 { font-size: 18px; color: #616161; margin-bottom: 20px; text-align: center; }
    .container {}
    .partners-slider-box {}
    .partners-slider {}
    .partners-slider-item {
        width: 250px; height: 150px;
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;
    }
    .xlSNext { }
    .xlSPrev { }
}
